{% include 'partials/header.html' %}
    <div class="todoapp">
        <ul class="list-unstyled">
            {% for todo in todos %}
                <li class="todo--group">
                    <a href="/todos/details/{{todo.id}}">{{todo.title}}</a>
                    </br>
                    <p>{{todo.text}}</p>
                <!--<a class="btn btn-default" href="{url 'edit'}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-default" href="{url 'delete'}"><span class="glyphicon glyphicon-remove"></span></a>-->
                </li>
            {% endfor %}
        </ul>
    </div>   
    <a href="/todos/add" class="btn btn-default">Add Todo</a>    
{% include 'partials/footer.html' %}
